*{
    margin: 0;
}

.list{
    display: flex;
    border: 1px solid red;
    height: 300px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.item {
    display: flex;

    background-color: aqua;
    border: 1px solid black;
    width: 100px;
    height: 50px;
    justify-content: center;
    align-items: center;
    /* flex-grow: 1; */
}

